{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <img src="https://ibb.co/0G462RB" alt="Profile Image" class="profile-image">
                <p>
                    Currently enrolled in my second year of Computer Science at Queen's University, I am enthusiastic about devising unique, high-quality solutions to complex problems. I enjoy the practical application of my knowledge in real-world and industrial settings. I thrive in collaborative spaces where I can both offer my expertise and learn from others. With a focus on continuous growth, I stay updated on the latest advancements in technology. I am further strengthened by my abilities in communication and time management.
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
